<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP Fil Rouge</title>
</head>
<body>

<h1>Programmers' list</h1>

<table style="border: black solid 1px">
    <thead style="background-color: burlywood">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="programmer : ${programmers}" th:id="'programmer-' + ${programmer.id}">
        <td th:text="${programmer.nom}">Nom</td>
        <td th:text="${programmer.prenom}">Prénom</td>
        <td>
            <form action="">
                <button>Update</button>
            </form>
        <td>
            <form th:action="@{/tp_fil_rouge/programmers/delete/{id}(id=${programmer.id})}" method="post">
                <button class="btn btn-warning" type="submit">Delete</button>
                <input type="hidden" name="_method" value="delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>