<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/menu}">
<head>
    <meta charset="UTF-8">
    <title>Détails de l'apprenti</title>
    <link rel="stylesheet" th:href="@{/css/traineeDetails.css}">
</head>
<body>
<section layout:fragment="content">

    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h2 class="mb-0" th:text="'Informations générales de ' + ${apprenti.prenom} + ' ' + ${apprenti.nom}"></h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updateTraineeModal">
                    <i class="bi bi-pencil-square"></i> Éditer
                </button>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <tbody>
                    <tr>
                        <th style="width: 25%;">Prénom</th>
                        <td th:text="${apprenti.prenom}">John</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td th:text="${apprenti.nom}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="${apprenti.adresseElectronique != null ? apprenti.adresseElectronique : 'NA'}"></td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td th:text="${apprenti.telephone != null && apprenti.telephone != '' ? apprenti.telephone : 'NA'}"></td>
                    </tr>
                    <tr>
                        <th>Programme</th>
                        <td th:text="${apprenti.programme != null ? apprenti.programme : 'NA'}"></td>
                    </tr>
                    <tr>
                        <th>Entreprise</th>
                        <td th:text="${apprenti.entreprise != null ? apprenti.entreprise.raisonSociale : 'NA'}"></td>
                    </tr>
                    <tr>
                        <th>Tuteur d'entreprise</th>
                        <td th:text="${apprenti.tuteurEntreprise != null ? apprenti.tuteurEntreprise.prenom + ' ' + apprenti.tuteurEntreprise.nom : 'NA'}"></td>
                    </tr>
                    <tr>
                        <th>Dernière visite le</th>
                        <td th:text="${derniereVisite.isPresent() ? #temporals.format(derniereVisite.get().date, 'dd/MM/yyyy') : 'Aucune visite passée'}"></td>
                    </tr>
                    <tr>
                        <th>Prochaine visite le</th>
                        <td th:text="${prochaineVisite.isPresent() ? #temporals.format(prochaineVisite.get().date, 'dd/MM/yyyy') : 'Aucune visite à venir'}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Historique des visites</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Date de la visite</th>
                        <th>Format</th>
                        <th>Commentaires</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Itération sur la liste des visites -->
                    <tr th:each="visite : ${apprenti.visites}">
                        <td th:text="${visite.date != null ? #temporals.format(visite.date, 'dd/MM/yyyy') : 'Date non définie'}"></td>
                        <td th:text="${visite.format}"></td>
                        <td th:text="${visite.commentaires}"></td>
                    </tr>
                    <!-- Message si aucune visite n'est enregistrée -->
                    <tr th:if="${#lists.isEmpty(apprenti.visites)}">
                        <td colspan="3" class="text-center">Aucune visite enregistrée pour cet apprenti.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    <!-- Update Trainee Modal -->
    <div class="modal fade" id="updateTraineeModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/apprenti/update/{id}(id=${apprenti.id})}" th:object="${apprenti}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="updateModalLabel">Mise à jour du profile de [[${apprenti.prenom}]]</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Hidden input to carry the ID -->
                        <input type="hidden" th:field="*{id}" />

                        <div class="mb-3">
                            <label for="firstName" class="form-label">Prenom</label>
                            <input type="text" class="form-control" id="firstName" th:field="*{prenom}" required>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="lastName" th:field="*{nom}" required>
                        </div>
                        <div class="mb-3">
                            <label for="mail" class="form-label">Email</label>
                            <input type="email" class="form-control" id="mail" th:field="*{adresseElectronique}">
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">Téléphone</label>
                            <input type="tel" class="form-control" id="phone" th:field="*{telephone}">
                        </div>
                        <div class="mb-3">
                            <label for="program" class="form-label">Programme</label>
                            <input type="text" class="form-control" id="program" th:field="*{programme}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-floppy"></i>
                            Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--snackbar d'édition d'apprenti-->
    <div id="snackbar" th:if="${updateSuccess}">
        <i class="bi bi-check2-circle"></i>
        Mise à jour de l'apprenti réussie
    </div>

    <div id="snackbar" th:if="${updateError}" class="text-danger">
        <i class="bi bi-x-circle"></i>
        Erreur lors de la mise à jour
    </div>


<th:block layout:fragment="scripts">
    <script th:src="@{/js/traineeDetails.js}"></script>
</th:block>
</section>

</body>
</html>